<div class="home_container">
	<div class="menu">
		<div class="wording">
			<h1>Home#index</h1>
			<% if user_signed_in? %>
				<p>Bienvenue sur l'app <%= current_user.email %></p>
			<%else%>
				<p>Bienvenue sur l'app les amis</p>
			<%end%>			
		</div>
		<div class="control">
			<ul>
				<% if user_signed_in? %>
					<li> <%= link_to("Se déconnecter", destroy_user_session_path, method: :delete)  %></li>
				<%else%>
					<li> <%= link_to("Se connecter", new_user_session_path) %></li>
					<li> <%= link_to("S'inscrire", new_user_registration_path) %></li>
				<%end%>
			</ul>
		</div>
	</div>
</div>

