// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800,900');
    @import url('custom.scss');
}
$primary-color: rgba(0, 0, 20, 0.8);

body {
    background: url(https://images.unsplash.com/photo-1490237014491-822aee911b99?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6c99dec73e55acf9dbf720ec37f6b0a&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding: 0;
}

.home_container {
    transform: rotate(-5deg);
    background-color: rgba(0, 0, 20, 0.5);
    color: white;
    margin: 0;
    margin-top: 150px;
    width: 150%;
    margin-left: -10px;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    
    margin-left: 200px;
    padding-top: 12px;
    height: 75px;
}

.control ul{list-style-type: none;}
.control ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    display: inline-block;
    float: left;
    margin-left: 12px;
    text-decoration: none;
    line-height: 1.5em;
}
.wording{
	display: inline;
	float:left;
	width: 300px;
}
.wording h1{
	width: 200px;
	display: inline;
}
.control{
	display: inline;
	float:left;
}


